<%- include('partials/head'); %> 
    <section>
        <h1>Chat</h1>
        <ul></ul>
        <form>
            <input type="text" autocomplete="off">
            <button><span>Send</span></button>
        </form>
    </section>

<%- include('partials/footer'); %> 


