<%- include('partials/head'); %> 
<form method="GET" action="/chatroom" id="user-nickname">
    <input name="user-nickname" id="nickname-input" type="text" autocomplete="off" /><button>Enter nickname</button>
</form>

<%- include('partials/footer'); %> 